/* Colors */
/* Primary colors */
#page {
  background: none repeat scroll 0 0 #ffffff;
  padding-top: 130px;
}
/* Start Navbar */
.navbar {
  background: none repeat scroll 0 0 #0089cf;
  border: none;
  border-radius: 0;
  margin: 0;
  height: 130px;
}
.navbar .navbar-brand {
  font-size: 22px;
  line-height: 20px;
  width: 100%;
  height: 130px;
  padding: 0;
  padding-top: 22.5px;
  padding-left: 10px;
}

.navbar .navbar-brand img {
  height: 85px;
  width: 170px;
  display: inline;
  vertical-align: middle;
  margin-right: 5px;
}

.navbar .navbar-brand a .navbar-name {
  color: #e7e7e7;
}


/* Search */
.navbar .search-bar {
  width: 100%;
  height: 130px;
  padding: 0;
  padding-top: 32.5px;
}
.navbar .search-bar .search {
  background: #1995d3;
  border: 2px solid #319ed7;
  border-radius: 40px;
  color: #e7e7e7;
  font-size: 18px;
  padding: 8px 10px;
  width: 485px;
  height: 65px;
  padding-right: 70px !important;
}
input::-ms-input-placeholder {
  color: #e7e7e7;
}
input::-webkit-input-placeholder {
  color: #e7e7e7;
}

.navbar .search-bar .search-icon {
  position: absolute;
  font-size: 32px;
  left: 450px;
  top: 48px;
  color: #e7e7e7;
}


/* Mini Menu Search IMPORTANT*/
.mini-menu .navbar .search-bar {
  display: block;
  text-align: center;
}
.mini-menu .navbar .search-bar .search {
  background: none repeat scroll 0 0 #ffffff;
  border: 0 none;
  border-radius: 4px;
  color: #555555;
  padding: 8px 10px;
  width: 90%;
  margin: 0 auto 10px;
}
.mini-menu .navbar .search-bar .search-icon {
  display: block;
  font-size: 14px;
  line-height: 1;
  position: absolute;
  right: 22px;
  top: 29px;
  color: #888888;
}

.navbar .nav.navbar-nav.pull-right {
  height: 130px;
  padding: 0;
  list-style: none;
}
.navbar .nav > li {
  display: inline-block;
  padding-top: 42px;
  padding-left: 25px;
  padding-right: 25px;
  height: 130px;
}

.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  background-color: #0089cf !important;
}

.navbar .nav .user img {
  margin-right: 5px;
  border-radius: 20px; 
}
.navbar .nav .user .username {
  color: #e7e7e7;
}

.navbar .nav .settings a,
.navbar .nav .power a{
  padding: 0;
}

.navbar .nav .settings .settings-icon,
.navbar .nav .power .power-icon {
  color: #e7e7e7;
}

.navbar .nav .settings .settings-icon:hover,
.navbar .nav .power .power-icon:hover {
  color: #cccccc;
}
/* End Navbar */

/* Start Sidebar */
#sidebar {
  background: none repeat scroll 0 0 #f5f5f5;
  padding: 0 !important;
  margin: 0;
  width: 100px;
  position: fixed;
  top: 130px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  border-bottom: 1px solid #e7e7e7;
  overflow-x: hidden;
  overflow-y: auto; 
}

.side-hidden-bar {
  background: none repeat scroll 0 0 #f5f5f5;
  padding: 0 !important;
  display: none;
  margin-left: 100px;
  width: 280px;
  position: fixed;
  top: 130px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #e7e7e7;
  border-bottom: none;
  border-top: none;
}

.side-hidden-bar.open{
  display: block;
}

#side-hidden-bar * {
  text-overflow: ellipsis;
}

/*SEARCH ON HIDDEN BAR*/
.side-hidden-bar .sidebar-menu .hidden-search-bar {
  text-align: center;
}
.side-hidden-bar .sidebar-menu .hidden-search-bar .search {
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #e7e7e7 !important;
  border-radius: 15px;
  color: #555555;
  padding: 8px 10px;
  width: 242px;
  margin: 1px auto 15px; 
  padding-right: 30px !important;
}
.side-hidden-bar .sidebar-menu .hidden-search-bar .search-icon {
  display: block;
  font-size: 16px;
  position: absolute;
  left: 230px;
  top: 32px;
  color: #b6b6b4;
}

.side-hidden-bar .sidebar-menu .hidden-search-bar a {
  text-decoration: none;  
}

.side-hidden-bar .big-arrow:before {
  margin-top: 0px;
  margin-left: 5px;
  display: inline;
  font-family: FontAwesome;
  height: auto;
  font-size: 16px;
  content: "\f0d7";
  font-weight: 300;
  text-shadow: none;
  color: #3090c7;
}

/*SEARCH ON HIDDEN BAR*/

.side-hidden-bar-toggle {
  background: none repeat scroll 0 0 #f4f4f4;
  padding: 0 !important;
  position: fixed;
  top: 200px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: 100px;
  width: 45px;
  height: 100px;
  border: 1px solid #e7e7e7;
  border-left: none;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;

}
.side-hidden-bar-toggle:hover,
.side-hidden-bar-toggle:focus {
  cursor: pointer;
  background: #eeeeee !important;
}
.side-hidden-bar-toggle > ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.side-hidden-bar-toggle > ul > li {
  display: inline-block;
  width: 15px;
  padding: 10px 10px;
  vertical-align: middle;
}

.sidebar-fixed {
  position: fixed !important;
}
#sidebar * {
  text-overflow: ellipsis;
}
.sidebar-menu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 0px;
  border-bottom: 1px solid #FFFFFF !important;
  /*border-top: 1px solid #FFFFFF !important;*/
  border-top: 1px solid #e7e7e7;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.sidebar-menu > ul > li {
  display: block;
  margin: 0;
  padding: 0;
  border: 0px;
}
.sidebar .sidebar-menu > ul > li {
  min-height: 92px;
  height: auto;
}
.sidebar-menu > ul > li > a {
  display: block;
  position: relative;
  margin: 0;
  border: 0 none;
  padding: 15px 15px 15px 20px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}
.sidebar .sidebar-menu > ul > li > a {
  text-align: center;
   padding: 18px 0;
  font-size: 18px;
}

.sidebar-menu > ul > li a i {
  color: #555555;
  font-size: 16px;
  margin-right: 5px;
}
.sidebar .sidebar-menu > ul > li a i {
  font-size: 28px;
  margin-right: 0;
}

.sidebar-menu > ul > li.has-sub {
  position: relative;
}
.sidebar-menu > ul > li.has-sub .sub {
  position: relative;
  background: #f4f4f4;
  /*border-top: 1px solid #e7e7e7;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;*/
}
.sidebar-menu > ul > li.has-sub .sub .has-sub-sub .sub-sub{
  position: relative;
  background: #f4f4f4;
  /*border-top: 1px solid #e7e7e7;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;*/
}
.sidebar-menu > ul > li.has-sub .sub .has-sub-sub .sub-sub .has-sub-sub-sub .sub-sub-sub{
  position: relative;
  background: #f4f4f4;
  /*border-top: 1px solid #e7e7e7;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;*/
}
.sidebar-menu ul > li > a .arrow:before,
.sidebar-menu ul > li > ul > li > a .arrow:before,
.sidebar-menu ul > li > ul > li > ul > li > a .arrow:before {
  float: left;
  margin-top: 1px;
  margin-left: 3px;
  display: inline;
  font-size: 16px;
  font-family: FontAwesome;
  height: auto;
  content: "\f055";
  font-weight: 300;
  text-shadow: none;
}
.sidebar-menu > ul > li > a .arrow.open:before,
.sidebar-menu > ul > li > ul > li > a .arrow.open:before,
.sidebar-menu > ul > li > ul > li > ul > li > a .arrow.open:before {
  float: left;
  margin-top: 1px;
  margin-left: 3px;
  display: inline;
  font-family: FontAwesome;
  height: auto;
  font-size: 16px;
  content: "\f056";
  font-weight: 300;
  text-shadow: none;
}

.sidebar-menu > ul > li > ul > li > ul > li > ul > li a .equip-marker:before {
  float: right;
  margin-top: 1px;
  margin-right: 5px;
  display: inline;
  font-size: 16px;
  font-family: FontAwesome;
  height: auto;
  content: "\f017";
  font-weight: 300;
  text-shadow: none;
  color: #b6b6b4;
}

.sidebar-menu > ul > li > ul > li > ul > li > ul > li a .sub-sub-sub-menu-text {
  color: #b6b6b4;
}

.sidebar-menu > ul > li > ul > li > ul > li > ul > li a.open .equip-marker:before {
  color: #4cc417;
}

.sidebar-menu > ul > li > ul > li > ul > li > ul > li a.running .equip-marker:before {
  content: "\f058";
}


.sidebar-menu > ul > li > ul > li > ul > li > ul > li a.open .sub-sub-sub-menu-text {
  color: #4cc417;
}

.sidebar-menu > ul > li.has-sub > ul.sub > li.has-sub-sub .sub-menu-text,
.sidebar-menu > ul > li.has-sub > ul.sub > li.has-sub-sub > ul.sub-sub > li.has-sub-sub-sub .sub-sub-menu-text {
  margin-left: 10px;
}

.sidebar-menu > ul > li > ul.sub:before {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #3b3b3b;
  border-image: none;
  border-style: dotted;
  border-width: 0 0 0 1px;
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  z-index: 1;
}
.sidebar-menu > ul > li > ul.sub > li:before {
  border-top: 1px dotted #3b3b3b;
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  margin: 5% 0 0;
}
.sidebar-menu > ul > li > ul.sub > li > ul.sub-sub:before {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #3b3b3b;
  border-image: none;
  border-style: dotted;
  border-width: 0 0 0 1px;
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  z-index: 1;
}
.sidebar-menu > ul > li > ul.sub > li > ul.sub-sub > li:before {
  border-top: 1px dotted #3b3b3b;
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  margin: 5% 0 0;
}

.sidebar-menu > ul > li > ul.sub > li > ul.sub-sub > li > ul.sub-sub-sub:before {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #3b3b3b;
  border-image: none;
  border-style: dotted;
  border-width: 0 0 0 1px;
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  z-index: 1;
}
.sidebar-menu > ul > li > ul.sub > li > ul.sub-sub > li > ul.sub-sub-sub > li:before {
  border-top: 1px dotted #3b3b3b;
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  margin: 5% 0 0;
}


.sidebar-menu > ul > li > ul.sub {
  display: block;
  list-style: none;
  clear: both;
  padding-left: 25px;
}
.sidebar-menu > ul > li > ul.sub .has-sub-sub ul.sub-sub {
  display: none;
  list-style: none;
  clear: both;
}
.sidebar-menu > ul > li > ul.sub .has-sub-sub ul.sub-sub > li > ul.sub-sub-sub {
  display: none;
  list-style: none;
  clear: both;
}
.sidebar-menu > ul > li.active > ul.sub {
  display: block;
}
.sidebar-menu > ul > li.active > ul.sub .has-sub-sub ul.sub-sub {
  display: block;
}

.sidebar-menu > ul > li > ul.sub > li,
.sidebar-menu > ul > li > ul.sub .has-sub-sub ul.sub-sub > li,
.sidebar-menu > ul > li > ul.sub .has-sub-sub ul.sub-sub .has-sub-sub-sub ul.sub-sub-sub > li {
  background: none;
  margin: 0px;
  padding: 0px;
  margin-top: 1px !important;
}
.sidebar-menu > ul > li > ul.sub > li > a {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px;
  padding-left: 30px !important;
  color: #555555;
  text-decoration: none;
  font-size: 13px;
  font-weight: 300;
  background: none;
}
.sidebar-menu > ul > li > ul.sub .has-sub-sub ul.sub-sub > li > a {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px;
  padding-left: 30px !important;
  color: #555555;
  text-decoration: none;
  font-size: 13px;
  font-weight: 300;
  background: none;
}
.sidebar-menu > ul > li > ul.sub .has-sub-sub ul.sub-sub .has-sub-sub-sub ul.sub-sub-sub > li > a {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px;
  padding-left: 30px !important;
  color: #555555;
  text-decoration: none;
  font-size: 13px;
  font-weight: 300;
  background: none;
}

.sidebar-menu > ul > li > ul.sub .has-sub-sub ul.sub-sub > li :hover,
.sidebar-menu > ul > li > ul.sub .has-sub-sub ul.sub-sub > li :focus,
.sidebar-menu > ul > li > ul.sub .has-sub-sub ul.sub-sub > li > ul.sub-sub-sub > li :hover,
.sidebar-menu > ul > li > ul.sub .has-sub-sub ul.sub-sub > li > ul.sub-sub-sub > li :focus{
  text-decoration: none;
}

.sidebar-menu > ul > li > ul.sub > li > a > i,
.sidebar-menu > ul > li > ul.sub .has-sub-sub ul.sub-sub > li > a > i,
.sidebar-menu > ul > li > ul.sub .has-sub-sub ul.sub-sub > li > ul.sub-sub-sub > li > a > i, {
  font-size: 13px;
}
.sidebar-menu > ul > li > a {
  border-bottom: 1px solid #ffffff !important;
  border-top: 1px solid #e7e7e7 !important;
  color: #555555 !important;
}

.sidebar-menu > ul > li:last-child > a {
  border-bottom: 1px solid transparent !important;
}
.sidebar-menu > ul > li:first-child > a {
  /* border-top-color: transparent !important; */
}

.sidebar-menu > ul > li.has-sub.open > a,
.sidebar-menu > ul > li > a:hover,
.sidebar-menu > ul > li:hover > a {
  background: #e7e7e7;
}
.sidebar-menu > ul > li.has-sub.open > a,
.sidebar-menu > ul > li.has-sub > a:hover,
.sidebar-menu > ul > li.has-sub:hover > a {
  background: #f4f4f4;
}
.sidebar-menu > ul > li.has-sub.open > ul > li.has-sub-sub.open > a {
  background: #f4f4f4;
}
.sidebar-menu > ul > li.has-sub.open > ul > li.has-sub-sub.open > ul > li.has-sub-sub-sub> a {
  background: #f4f4f4;
}

.sidebar-menu > ul > li.active > a {
  background: #dbdbdb !important;
  border-top-color: transparent !important;
  color: #0d8ed0 !important;
  border-left: 5px solid #0d8ed0;
}
.sidebar-menu > ul > li.active > a i{
  color: #0d8ed0 !important;
}

.sidebar-menu > ul > li > a.open {
  background: #313131;
}
.sidebar-menu ul > li > a .arrow:before,
.sidebar-menu > ul > li > a .arrow.open:before {
  color: #555555 !important;
}
/*.sidebar-menu ul > li.active > a .arrow:before,
.sidebar-menu > ul > li.active > a .arrow.open:before {  
   color: #fff !important;
} */
.sidebar-menu > ul > li > ul.sub > li > a {
  color: #555555;
  margin-left: 0px;
  padding-left: 5px;
  font-size: 13px;
  font-weight: 400;
}
.sidebar-menu > ul > li > ul.sub > li:first-child > a {
  border-top: 0px !important;
}
.sidebar-menu > ul > li > ul.sub > li.active > a,
.sidebar-menu > ul > li > ul.sub > li > a:hover,
.sidebar-menu > ul > li > ul.sub > li.current {
  background: #f4f4f4 !important;
}
.sidebar-menu > ul > li > ul.sub > li > a:hover {
  background: #f4f4f4 !important;
}

/* Quick launch */
.sidebar-menu .quicklaunch-lg {
  line-height: 39px;
  margin-bottom: 0;
  max-height: 41px;
  text-align: center;
}
.sidebar-menu .quicklaunch-lg .btn {
  margin-right: 1rem;
}
.sidebar-menu .quicklaunch-mini {
  display: none;
  font-size: 0;
  line-height: 18px;
  padding-bottom: 2px;
  padding-top: 2px;
  text-align: center;
  width: 50px;
}
/* Sidebar collapse */
.sidebar-collapse,
.switcher {
  padding: 10px 10px 0 0;
  position: absolute;
  top: 10px;
  left: 10px;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #FFFFFF;
  padding: 6px 8px;
}
.sidebar-collapse:hover,
.switcher:hover {
  background-color: #507aa4;
}
.sidebar-collapse > [class*="fa-"],
.switcher > [class*="fa-"] {
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  padding: 0 5px;
  position: relative;
  float: right;
}
.menu-text .badge {
  position: absolute;
  right: 35px;
  line-height: 15px;
  padding-bottom: 3px;
  padding-top: 2px;
  text-shadow: none;
  background-color: #dd5a43 !important;
}



/* End Sidebar */

/* Team Status */
.team-status {
  background-color: #6f6f6f;
  display: none;
  border-bottom: 2px solid #555555;
}
.team-status.open {
  display: block;
}
.team-status .team-list {
  height: 100%;
  list-style: none outside none;
  margin: 0 auto;
  padding: 15px 10px 20px;
  text-align: center;
}
.team-status .team-list li {
  color: #FFFFFF;
  display: inline-block;
  padding: 0 30px;
}
.team-status .team-list li:last-child {
  border-right: 0 none;
}
.team-status .team-list li a {
  color: #FFFFFF;
  display: block;
  opacity: 0.9;
  padding: 15px;
  border-radius: 4px;
  min-width: 200px;
}
.team-status .team-list li a .progress {
  margin-top: 10px !important;
  height: 9px !important;
  margin-bottom: 10px !important;
}
.team-status .team-list li a .status {
  text-align: left;
  font-size: 11px;
  text-transform: uppercase;
}
.team-status .team-list li a .status .field {
  margin-bottom: 5px;
}
.team-status .team-list li a:hover {
  background-color: rgba(255, 255, 255, 0.07);
  opacity: 1;
  text-decoration: none;
}
.team-status .team-list li .image,
.team-status .team-list li .title {
  display: block;
}
.team-status .team-list li .image img {
  height: 45px;
  width: 45px;
  border-radius: 150px 150px 150px 150px;
}
.team-status .team-list li .title {
  font-weight: 600;
}
.team-status .team-list li .image + .title {
  padding-top: 10px;
}
.team-status .team-list li.current a {
  background-color: rgba(255, 255, 255, 0.07);
  opacity: 1;
  text-decoration: none;
}

.contact-script {
  text-align: center;
  color: #999999;
}

.contact-script a,
.contact-script a:hover,
.contact-script a:focus
{
  color: #999999;
  text-decoration: none;
}
