/* Styles for dialog window */
#small-dialog {
	background: white;
  border-radius: 20px;
	padding: 35px 20px;
	text-align: center;
	width: 1000px;
	margin: 40px auto;
	position: relative;
  height: auto;
}

#small-dialog-character,
#small-dialog-view-character,
#small-dialog-user,
#small-dialog-view-user {
  background: white;
  padding: 35px 20px;
  border-radius: 20px;
  text-align: center;
  width: 1000px;
  margin: 40px auto;
  position: relative;
  height: auto;
}

#small-dialog-right {
  background: white;
  border-radius: 20px;
  padding: 35px 20px;
  text-align: center;
  width: 1000px;
  margin: 40px auto;
  position: relative;
  height: auto;
}

#small-dialog-add-zone,
#small-dialog-add-product,
#small-dialog-add-equipment {
  background: white;
  border-radius: 10px;
  padding: 20px 20px 50px;
  text-align: center;
  width: 500px;
  margin: 40px auto;
  position: relative;
  height: auto;
}

@media (max-width: 1450px){
  #small-dialog {
    padding: 35px 15px;
    width: 770px;
    margin: 30px auto;
  }

  #small-dialog-character,
  #small-dialog-view-character,
  #small-dialog-user,
  #small-dialog-view-user
   {
    padding: 35px 15px;
    width: 770px;
    margin: 30px auto;
  }

  #small-dialog-right {
    padding: 35px 15px;
    width: 770px;
    margin: 30px auto;
  }

  #small-dialog-add-zone,
  #small-dialog-add-product,
  #small-dialog-add-equipment {
    padding: 15px 15px 38px;
    width: 384px;
    margin: 30px auto;
  }
}

/**

/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in #small-dialog,
.my-mfp-zoom-in #small-dialog-right,
.my-mfp-zoom-in #small-dialog-add-zone,
.my-mfp-zoom-in #small-dialog-add-product,
.my-mfp-zoom-in #small-dialog-add-equipment,
.my-mfp-zoom-in #small-dialog-character,
.my-mfp-zoom-in #small-dialog-view-character,
.my-mfp-zoom-in #small-dialog-user,
.my-mfp-zoom-in #small-dialog-view-user
 {
opacity: 0;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
-ms-transform: scale(0.8);
-o-transform: scale(0.8);
transform: scale(0.8);
}
/* animate in */
.my-mfp-zoom-in.mfp-ready #small-dialog,
.my-mfp-zoom-in.mfp-ready #small-dialog-right,
.my-mfp-zoom-in.mfp-ready #small-dialog-add-zone,
.my-mfp-zoom-in.mfp-ready #small-dialog-add-product,
.my-mfp-zoom-in.mfp-ready #small-dialog-add-equipment,
.my-mfp-zoom-in.mfp-ready #small-dialog-character,
.my-mfp-zoom-in.mfp-ready #small-dialog-view-character,
.my-mfp-zoom-in.mfp-ready #small-dialog-user,
.my-mfp-zoom-in.mfp-ready #small-dialog-view-user
 {
opacity: 1;
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}
/* animate out */
.my-mfp-zoom-in.mfp-removing #small-dialog,
.my-mfp-zoom-in.mfp-removing #small-dialog-right,
.my-mfp-zoom-in.mfp-removing #small-dialog-add-zone,
.my-mfp-zoom-in.mfp-removing #small-dialog-add-product,
.my-mfp-zoom-in.mfp-removing #small-dialog-add-equipment,
.my-mfp-zoom-in.mfp-removing #small-dialog-character,
.my-mfp-zoom-in.mfp-removing #small-dialog-view-character,
.my-mfp-zoom-in.mfp-removing #small-dialog-user,
.my-mfp-zoom-in.mfp-removing #small-dialog-view-user
 {
-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
-ms-transform: scale(0.8);
-o-transform: scale(0.8);
transform: scale(0.8);
opacity: 0;
}
/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
opacity: 0;
-webkit-transition: opacity 0.3s ease-out;
-moz-transition: opacity 0.3s ease-out;
-o-transition: opacity 0.3s ease-out;
transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
opacity: 0;
}
/**
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; 
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }
.mfp-content iframe{
	width:100%;
	min-height:500px;
}
.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #cccccc; }

.mfp-preloader a:hover {
  color: white; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  border: 0;
   background:#FFF;
  -webkit-appearance: none;
  display: none;
  padding: 0;
  z-index: 1046; }
 

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  display: none;
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 20px;
  position: absolute;
  right: 0px;
	top: 0px;
  text-decoration: none;
  text-align: center;
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  outline:none;
  font-family: 'Open Sans', sans-serif;		
 }
.mfp-close:hover, .mfp-close:focus {
    opacity: 1; }

.mfp-close-btn-in .mfp-close {
  color: #333333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; 
}
@media all and (max-width:480px){
	.comments-area textarea{
		height:100px;
	}
}
@media all and (max-width:320px){
	.comments-area span.label,.comments-area span.text-field{
		float:none;
		width:100%;
	}
	.comments-area span{
		padding-bottom:3px;
	}
	#small-dialog{
		padding:15px;
	}
	.comments-area input[type="text"], .comments-area textarea{
		width:92%;
	}
	.comments-area div{
		padding:2px 0;
	}
	.mfp-content iframe{
		width:100%;
		min-height:250px;
	}
} 


#small-dialog .title.main-title,
#small-dialog-right .title.main-title,
#small-dialog-add-zone .title.main-title,
#small-dialog-add-product .title.main-title,
#small-dialog-add-equipment .title.main-title,
#small-dialog-character .title.main-title,
#small-dialog-view-character .title.main-title,
#small-dialog-user .title.main-title,
#small-dialog-view-user .title.main-title {
  font-size: 22px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
  margin-left: 30px;
  margin-right: 30px;
}
#small-dialog-add-zone .title.main-title,
#small-dialog-add-product .title.main-title,
#small-dialog-add-equipment .title.main-title   {
  margin-bottom: 20px;
}

#small-dialog label,
#small-dialog-right label,
#small-dialog-character label,
#small-dialog-view-character label,
#small-dialog-user label,
#small-dialog-view-user label
{
  float: right;
  font-size: 16px;
  padding-top: 0px;
}

.small-dialog-body
{
  height: 800px;
  padding-top: 20px;
}
#small-dialog-character .small-dialog-body,
#small-dialog-view-character .small-dialog-body
{
  height: 600px;
}
#small-dialog-user .small-dialog-body,
#small-dialog-view-user .small-dialog-body
{
  height: 400px;
}
.small-dialog-body .body-left {
  width: 50%;
  float: left;
  text-align: left;
  border-right: 2px solid #f8f8f8;
  padding-left: 50px;
  padding-right: 50px;
  display: block;
  height: 750px;
  overflow-y: auto;
}

#small-dialog-character .small-dialog-body .body-left,
#small-dialog-view-character .small-dialog-body .body-left {
  height: 550px;  
}
#small-dialog-user .small-dialog-body .body-left,
#small-dialog-view-user .small-dialog-body .body-left  {
  height: 350px;  
}

.small-dialog-body .body-right {
  width: 50%;
  float: right;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  display: block;
  height: 750px;
  overflow-y: auto;
}

#small-dialog-character .small-dialog-body .body-right,
#small-dialog-view-character .small-dialog-body .body-right {
  height: 550px;  
}
#small-dialog-user .small-dialog-body .body-right,
#small-dialog-view-user .small-dialog-body .body-right {
  height: 350px;  
}

.small-dialog-body .m-input-group {
  width: 100%;
  margin-bottom: 20px;
  height: 48px;
}

.small-dialog-body .m-input-group > ul {
  list-style: none;
  width: 100%;
  padding: 0;
}
.small-dialog-body .m-input-group > ul > li {
  display: inline-block;
  vertical-align: middle;
}
.small-dialog-body .m-input-group > ul > li.group-title{
  width: 19%;
  font-size: 16px;
  padding-left: 10px;
}
.small-dialog-body .m-input-group > ul > li.group-title.small {
  width: 30%;
}
.small-dialog-body .m-input-group > ul > li.group-input{
  width: 75%;
}
.small-dialog-body .m-input-group > ul > li.group-input.small{
  width: 68%;
}
.small-dialog-body .m-input-group .m-input-middle {
  float: right;
  margin-right: 0;
  width: 100%;
  height: 48px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.small-dialog-body .div-form-title {
  background-color: #e6f8ff;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  width: 100%;
  height: 55px;
  padding-top: 15px;
}

.small-dialog-body .div-form-title .title-name {
  margin-left: 10px;
}

.small-dialog-body .div-form-body {
  margin-bottom: 10px;
  width: 100%;

}

.small-dialog-body .div-form-body .form-horizontal {
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  background-color: #ffffff;
}

.small-dialog-body .div-form-body .form-horizontal .form-group {

}
#small-dialog .small-dialog-body .div-form-body .form-horizontal .form-group label,
#small-dialog-right .small-dialog-body .div-form-body .form-horizontal .form-group label,
#small-dialog-character .small-dialog-body .div-form-body .form-horizontal .form-group label,
#small-dialog-view-character .small-dialog-body .div-form-body .form-horizontal .form-group label,
#small-dialog-user .small-dialog-body .div-form-body .form-horizontal .form-group label,
#small-dialog-view-user .small-dialog-body .div-form-body .form-horizontal .form-group label{
  float: left;
}
#small-dialog .small-dialog-body .div-form-body .form-horizontal .form-group ,
#small-dialog-right .small-dialog-body .div-form-body .form-horizontal .form-group ,
#small-dialog-character .small-dialog-body .div-form-body .form-horizontal .form-group ,
#small-dialog-view-character .small-dialog-body .div-form-body .form-horizontal .form-group ,
#small-dialog-user .small-dialog-body .div-form-body .form-horizontal .form-group,
#small-dialog-view-user .small-dialog-body .div-form-body .form-horizontal .form-group{
  display: inline-block;
}

.small-dialog-body .div-form-body .form-horizontal .form-group label.checkbox-inline,
.small-dialog-body .div-form-body .form-horizontal .form-group label.radio-inline
{
   padding: 0;
   width: auto;
   margin-right: 10px;
   margin-bottom: 10px;
}
.small-dialog-body .div-form-body .form-horizontal .form-group label.checkbox-inline input,
.small-dialog-body .div-form-body .form-horizontal .form-group label.radio-inline input {
  margin-top: 5px;
}

.small-dialog-body .div-form-body .div-form-radio {
  font-size: 18px;
  
  vertical-align: middle;
}

.small-dialog-body .div-form-body .div-form-radio input[type="radio"] {
  margin-right: 5px;
  display: inline-block;
}

.small-dialog-body .div-form-body .add-title{
  margin-top: 20px;
}
.small-dialog-body .div-form-body .add-title input.m-input-middle {
  margin-left: 5px;
  margin-right: 10px;
  font-size: 14px;
  border-radius: 20px;
  width: 220px;
  height: 40px;
  padding: 6px 12px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.small-dialog-body .div-form-body .add-title a {
  width: 90px;
  height: 40px;
  border-radius: 20px;
  background-color: #20b2fa;
  color: #ffffff;
  font-size: 16px;
}

#small-dialog .small-dialog-body .div-form-body table.table .title,
#small-dialog-right .small-dialog-body .div-form-body table.table .title {
  font-size: 16px;
  float: left;
  margin-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#small-dialog .box table.table .title,
#small-dialog .box table.table .date
{
  font-size: 14px;
}

#small-dialog .small-dialog-body .div-form-body .table > thead > tr > th,
#small-dialog .small-dialog-body .div-form-body .table > tbody > tr > th,
#small-dialog .small-dialog-body .div-form-body .table > tfoot > tr > th,
#small-dialog .small-dialog-body .div-form-body .table > thead > tr > td,
#small-dialog .small-dialog-body .div-form-body .table > tbody > tr > td,
#small-dialog .small-dialog-body .div-form-body .table > tfoot > tr > td,
#small-dialog-right .small-dialog-body .div-form-body .table > thead > tr > th,
#small-dialog-right .small-dialog-body .div-form-body .table > tbody > tr > th,
#small-dialog-right .small-dialog-body .div-form-body .table > tfoot > tr > th,
#small-dialog-right .small-dialog-body .div-form-body .table > thead > tr > td,
#small-dialog-right .small-dialog-body .div-form-body .table > tbody > tr > td,
#small-dialog-right .small-dialog-body .div-form-body .table > tfoot > tr > td  {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 1.428571429;
  vertical-align: middle;
}

#small-dialog .small-dialog-body .div-form-body .table > tbody > tr > td a i,
#small-dialog-right .small-dialog-body .div-form-body .table > tbody > tr > td a i{
  color: #d6d6d6;
}

#small-dialog .box .table-striped > tbody > tr:nth-child(odd) > td,
#small-dialog .box .table-striped > tbody > tr:nth-child(odd) > th,
#small-dialog .small-dialog-body .div-form-body .table-striped > tbody > tr:nth-child(odd) > td,
#small-dialog .small-dialog-body .div-form-body .table-striped > tbody > tr:nth-child(odd) > th,
#small-dialog-right .small-dialog-body .div-form-body .table-striped > tbody > tr:nth-child(odd) > td,
#small-dialog-right .small-dialog-body .div-form-body .table-striped > tbody > tr:nth-child(odd) > th
{
  background-color: #f8f8f8;
}

.small-dialog-form-btn > .btn {
  background-color: #20b2fa;
  width: 182px;
  height: 45px;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  font-size: 22px;
}
.small-dialog-form-btn > .btn.green{
  background-color: #1fc049;
}

.small-dialog-form-btn > .btn + .btn {
  margin-left: 30px;
}
.small-dialog-form-btn > .btn.cancel{
  background-color: #e8e8e8;
  color: #cfcfcf;
} 

.small-dialog-form-btn > .btn:hover,
.small-dialog-form-btn > .btn:focus,
.small-dialog-form-btn > .btn:active {
  z-index: 2;
  background-color: #3090C7;
}
.small-dialog-form-btn > .btn.cancel:hover,
.small-dialog-form-btn > .btn.cancel:focus,
.small-dialog-form-btn > .btn.cancel:active {
  z-index: 2;
  background-color: #d4d4d4;
}

#small-dialog-add-zone .add-zone-form-control,
#small-dialog-add-product .add-zone-form-control,
#small-dialog-add-equipment .add-zone-form-control
{
  width: 340px;
  height: 60px;
  padding: 6px 12px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 40px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#small-dialog-add-zone .small-dialog-form-btn > .btn,
#small-dialog-add-product .small-dialog-form-btn > .btn,
#small-dialog-add-equipment .small-dialog-form-btn > .btn {
  background-color: #20b2fa;
  width: 140px;
  height: 60px;
  border-radius: 40px;
  padding-top: 15px;
  border: none;
  color: #ffffff;
  font-size: 22px;
}


#small-dialog-add-zone .small-dialog-form-btn > .btn + .btn,
#small-dialog-add-product .small-dialog-form-btn > .btn + .btn,
#small-dialog-add-equipment .small-dialog-form-btn > .btn + .btn {
  margin-left: 50px;
}
#small-dialog-add-zone .small-dialog-form-btn > .btn.cancel,
#small-dialog-add-product .small-dialog-form-btn > .btn.cancel,
#small-dialog-add-equipment .small-dialog-form-btn > .btn.cancel{
  background-color: #e8e8e8;
  color: #cfcfcf;
} 

#small-dialog-add-zone .small-dialog-form-btn > .btn:hover,
#small-dialog-add-zone .small-dialog-form-btn > .btn:focus,
#small-dialog-add-zone .small-dialog-form-btn > .btn:active,
#small-dialog-add-product .small-dialog-form-btn > .btn:hover,
#small-dialog-add-product .small-dialog-form-btn > .btn:focus,
#small-dialog-add-product .small-dialog-form-btn > .btn:active,
#small-dialog-add-equipment .small-dialog-form-btn > .btn:hover,
#small-dialog-add-equipment .small-dialog-form-btn > .btn:focus,
#small-dialog-add-equipment .small-dialog-form-btn > .btn:active {
  z-index: 2;
  background-color: #3090C7;
}
#small-dialog-add-zone .small-dialog-form-btn > .btn.cancel:hover,
#small-dialog-add-zone .small-dialog-form-btn > .btn.cancel:focus,
#small-dialog-add-zone .small-dialog-form-btn > .btn.cancel:active,
#small-dialog-add-product .small-dialog-form-btn > .btn.cancel:hover,
#small-dialog-add-product .small-dialog-form-btn > .btn.cancel:focus,
#small-dialog-add-product .small-dialog-form-btn > .btn.cancel:active,
#small-dialog-add-equipment .small-dialog-form-btn > .btn.cancel:hover,
#small-dialog-add-equipment .small-dialog-form-btn > .btn.cancel:focus,
#small-dialog-add-equipment .small-dialog-form-btn > .btn.cancel:active  {
  background-color: #d4d4d4;
} 

p.div-form-radio {
  display: inline;
  float: left;
  margin: 0 10px;
}


@media (max-width: 1450px){
  #small-dialog .title.main-title,
  #small-dialog-right .title.main-title,
  #small-dialog-add-zone .title.main-title,
  #small-dialog-add-product .title.main-title,
  #small-dialog-add-equipment .title.main-title,
  #small-dialog-character .title.main-title,
  #small-dialog-view-character .title.main-title,
  #small-dialog-user .title.main-title,
  #small-dialog-view-user .title.main-title
  {
    font-size: 18px;
    padding-bottom: 23px;
  }

  #small-dialog label,
  #small-dialog-right label,
  #small-dialog-character label,
  #small-dialog-view-character label,
  #small-dialog-user label,
  #small-dialog-view-user label
  {
    font-size: 14px;
  }

  .small-dialog-body
  {
    height: 615px;
  }
  #small-dialog-character .small-dialog-body,
  #small-dialog-view-character .small-dialog-body
  {
    height: 460px;
  }
  #small-dialog-user .small-dialog-body,
  #small-dialog-view-user .small-dialog-body
  {
    height: 300px;
  }
  .small-dialog-body .body-left {
    padding-left: 38px;
    padding-right: 38px;
    height: 570px;
  }

  #small-dialog-character .small-dialog-body .body-left,
  #small-dialog-view-character .small-dialog-body .body-left
  {
    height: 420px;  
  }
  #small-dialog-user .small-dialog-body .body-left ,
  #small-dialog-view-user .small-dialog-body .body-left {
    height: 270px;  
  }

  .small-dialog-body .body-right {
    padding-left: 38px;
    padding-right: 38px;
    height: 570px;
  }

  #small-dialog-character .small-dialog-body .body-right,
  #small-dialog-view-character .small-dialog-body .body-right {
    height: 420px;  
  }
  #small-dialog-user .small-dialog-body .body-right,
  #small-dialog-view-user .small-dialog-body .body-right {
    height: 270px;  
  }

  .small-dialog-body .m-input-group {
    margin-bottom: 10px;
  }
  .small-dialog-body .m-input-group > ul > li.group-title{
    font-size: 14px;
  }
  .small-dialog-body .m-input-group > ul > li.group-input{
    width: 70%;
  }
  .small-dialog-body .m-input-group .m-input-middle {
    height: 36px;
    padding: 4px 12px;
    font-size: 14px;
  }

  .small-dialog-body .div-form-title {
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 14px;
    height: 40px;
    padding-top: 11px;
  }

  .small-dialog-body .div-form-title .title-name {
    margin-left: 7px;
  }

  .small-dialog-body .div-form-body {
    padding-top: 7px;
    margin-bottom: 15px;
  }

  .small-dialog-body .div-form-body .form-horizontal .form-group label.checkbox-inline,
  .small-dialog-body .div-form-body .form-horizontal .form-group label.radio-inline{
     padding: 0;
     width: auto;
     margin-right: 5px;
     margin-bottom: 10px;
  }

  .small-dialog-body .div-form-body input[type="radio"] {
    margin-right: 7px;
    font-size: 12px;
  }

  .small-dialog-body .div-form-body .title input.m-input-middle {
    margin-right: 7px;
    font-size: 12px;
    border-radius: 15px;
    width: 170px;
    height: 30px;
  }

  .small-dialog-body .div-form-body .add-title a {
    width: 69px;
    height: 30px;
    border-radius: 15px;
    font-size: 12px;
  }

  .small-dialog-body .div-form-body .add-title{
    margin-top: 10px;
  }
  .small-dialog-body .div-form-body .add-title input.m-input-middle {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    border-radius: 20px;
    width: 170px;
    height: 30px;
    padding: 4px 12px;
  }

  #small-dialog .small-dialog-body .div-form-body table.table .title,
  #small-dialog-right .small-dialog-body .div-form-body table.table .title {
    font-size: 12px;
    margin-left: 7px;
    padding-top: 11px;
    padding-bottom: 11px;
  }

  #small-dialog .box table.table .title,
  #small-dialog .box table.table .date
  {
    font-size: 10px;
  }


  .small-dialog-form-btn > .btn {
    width: 140px;
    height: 34px;
    border-radius: 15px;
    font-size: 16px;
  }

  .small-dialog-form-btn > .btn + .btn {
    margin-left: 23px;
  }

  #small-dialog-add-zone .add-zone-form-control,
  #small-dialog-add-product .add-zone-form-control,
  #small-dialog-add-equipment .add-zone-form-control
  {
    width: 260px;
    height: 46px;
    padding: 5px 9px;
    font-size: 14px;
    border-radius: 30px;
  }

  #small-dialog-add-zone .small-dialog-form-btn > .btn,
  #small-dialog-add-product .small-dialog-form-btn > .btn,
  #small-dialog-add-equipment .small-dialog-form-btn > .btn {
    width: 107px;
    height: 46px;
    border-radius: 30px;
    padding-top: 12px;
    font-size: 16px;
  }

  #small-dialog-add-zone .small-dialog-form-btn > .btn + .btn,
  #small-dialog-add-product .small-dialog-form-btn > .btn + .btn,
  #small-dialog-add-equipment .small-dialog-form-btn > .btn + .btn {
    margin-left: 38px;
  }

  p.div-form-radio {
    margin: 0 8px;
  }
}